<br>
<div class="container" style="margin-top: 10px;">
    <nav class="navbar" role="navigation">
        <ul class="nav" style="font-size: 18px;">
            <a style="float:left;width:25%">
                <button class="navbar-ymple navbar-brand glyphicon glyphicon-menu-hamburger btn-hamburger js-slideout-toggle toggle-button" data-role="slide" style="background:none;border:none; float:left;"></button>
            </a>
            <a class="navbar-ymple navbar-brand" href="/" style="color: black; width:50%;text-align:center;">
                <img src="/images/ymple/logo.png" alt="logo" height="150" width="150" style="margin-top: -55px;display:inline-block;">
            </a>
            <li style="float:right;width:25%">
                <a class="navbar-brand navbar-ymple" href="/cart" style="float:right;">
                    <i class="fa fa-fw fa-shopping-cart"></i>
                    <% if (this.cart) {
                        cart.length
                    } %>
                </a>
            </li>
        </ul>
    </nav>
</div>