<style>
  li {
    list-style: none;
  }
</style>

<div class="site-footer">
  <center>
    <div class="container">
      <div class="row">
          <a href="/products">products</a> |
          <a href="/shipping">shipping</a> |
          <a href="/help">help</a> |
          <a href="/contact-us">contact us</a>
      </div>
    </div>
  </center>
  <div class="container">
    <div class="copyright clearfix">
      <p>made with ©<a href="http://www.ymple.com" target="_blank">ymple-ecommerce</a></p>
    </div>
  </div>
</div>